<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggoyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUohcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>RadiusUI.py</title>
    </head>
    <body>

        <div class="container">
            <h1>RadiusUI.py</h1>

            <p>Appi.py Api is a collaborative capping (Capstone) project from five students at Marist College for GTel.</p>

            <ul>
                <li>Steven Boucher</li>
                <li>Easton Eberwein</li>
                <li>Nick Vasquez</li>
                <li>Liam Haggerty</li>
                <li>Christian Bauer</li>
            </ul>

            <h2 id="introduction">Introduction</h2>

            <p>The purpose of this Api is to allow Gtel Employees to insert static IP addresses through their website and verify through
                their free radius servers. This webpage also displays relevant data about their servers, connectivity, MAC-addresses, and IP Addresses.</p>

            <h2 id="endpoints">Endpoints</h2>

            <p>The Api currently connects to a web server (<a href="http://10.10.9.40:5000">http://10.10.9.40:5000</a>) and a MariaDb server (10.10.9.43) both hosted by Marist College. Ultimately, These servers will be on Gtel/ArchtopFiber Servers.</p>

            <h2 id="tables">Tables</h2>

            <p>Four tables keep the API functional. Three are Gtel-created tables with the logs table created by the Marist students listed above. Pictured in the Table_Flow.png is an ERD/Flowchart describing how the tables are used/appear. Linked is the lucid chart diagram.</p>

            <p><a href="https://lucid.app/lucidchart/98f36848-a34a-496a-aea1-8b74693481a4/edit?viewport_loc=-435%2C13%2C2602%2C1311%2CzxEJecSUvRbf&invitationId=inv_0f03a49c-5bfb-4f13-b19e-6fabd795f66e">Lucid Chart Diagram</a></p>

            <h2 id="dashboard-page">Dashboard Page</h2>

            <p>The dashboard is the home page for our API, which has various pieces of information displayed. The total number of devices, how many devices are currently online, how many static IP accounts exist, and how many IP addresses are unreachable.</p>

            <p>A dynamic graph displays the total number of requests for IP addresses and updates every 15 minutes, showing the last 6 hours of data. This graph will show crucial information about Gtel servers, such as spikes in requests due to power outages.</p>

            <p>on the right-hand side is a System Status, a quick check to ensure that FreeRadius and the SQL server are working appropriately.</p>

            <h2 id="devices-page">Devices Page</h2>

            <p>All Devices in the system are displayed here. on this page, there are multiple functions that the user can use.</p>

            <p>The first function is the Add Device function, which allows the user to add a new device to the system. The user enters the MAC Address or the username for the radcheck and radreply tables, the IPv4 Address, The IPv6 Prefix, and the IPv6 Address. If added correctly, a message will indicate that the device was added successfully! The logs table is updated to reflect that the new device has entered the system.</p>

            <p>The second function is the Edit Device function. Each Device has an edit button on the far right of the table. When pressed, it will take the user to the edit device page, where the user can input an IPv4, IPv6 Prefix, and an IPv6 address. After pressing the confirmation button, the API will update the database to reflect the changes and create a new entry on the logs table.</p>

            <p>The third and final function is the Remove Device function. This function allows a user to remove a device from the database. By clicking on the "Remove" button next to the device you wish to remove, a message will pop up, prompting the user with the message: "Are you sure you want to remove this device?" to which the user must click "oK," ensuring that the user cannot delete a device accidentally. Removing a device also updates the logs table.</p>

            <p>There is a search bar that allows the user to search for a given device based on username/MAC, IPv4, or IPv6 addresses.</p>

            <h2 id="logs-page">Logs</h2>

            <p>The logs page displays whenever a change transpired to the devices page. The Logs table displays when an update happened, the MAC addresses/Users, and what happened.</p>

            <p>Eventually, we want to log who makes the changes by making users log in to the site with credentials.</p>

            <h2 id="users">Users</h2>

            <p>This part of the site is still in progress and is a stretch goal. When implemented, this will show basic information about the currently signed-in user. The Logs page will have an additional column to show who makes what update.</p>

            <h2 id="frontend-framework">Frontend Framework</h2>

            <p>The site uses the Bootstrap framework for its frontend design. Bootstrap is a popular open-source toolkit for developing with HTML, CSS, and JS. It provides ready-made components and responsive design features that make web development more accessible and efficient.</p>

            <h2 id="using-bootstrap">Using Bootstrap</h2>

            <p>Bootstrap&apos;	s grid system, components, and utilities are extensively used throughout the site to create a responsive and visually appealing interface. This choice of framework enables rapid prototyping and a consistent look and feel across different pages.</p>

            <p>Here are some key aspects of our site&apos;	s design that leverage Bootstrap:</p>

            <ol>
                <li>Responsive Layout: Utilizing Bootstrap&apos;	s grid system, the site is fully responsive and adjusts seamlessly across different screen sizes and devices.</li>
                <li>Components: Various Bootstrap components like navigation bars, forms, buttons, and cards are used to maintain uniformity in design.</li>
                <li>Customization: While we rely on Bootstrap for the majority of the styling, custom CSS has also been written to further tailor the look and feel to match our specific design requirements.</li>
            </ol>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965Dzo0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-Uo2eT0CpHqdSJQ6hJty5KVphtPhzWj9Wo1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6orQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>
</html>
